<div class="container">
  <h1>Angular App</h1>
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a [routerLink]="['/modulo1']">Módulo 1</a>
      <a [routerLink]="['/modulo2/child1']">Módulo 2 - Child 1</a>
      <a [routerLink]="['/modulo2/child2']">Módulo 2 - Child 2</a>
      <a [routerLink]="['/modulo3/child1']">Módulo 3 - Child 1</a>
      <a [routerLink]="['/modulo3/child2']">Módulo 3 - Child 2</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
