<div class="header">
  <h1>Seja bem-vindo(a) ao sistema em Angular!</h1>
  <div *ngIf="estaLogado()">
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a [routerLink]="['/modulo1']">Módulo 1</a>
        <a [routerLink]="['/modulo2/child1']">Módulo 2 - Child 1</a>
        <a [routerLink]="['/modulo2/child2']">Módulo 2 - Child 2</a>
        <a [routerLink]="['/modulo3/child1']">Módulo 3 - Child 1</a>
        <a [routerLink]="['/modulo3/child2']">Módulo 3 - Child 2</a>
      </div>
    </div>
  </div>
</div>
<br>
<button *ngIf="estaLogado()" (click)="logout()">Logout</button>
<router-outlet></router-outlet>
